
.clear{
	height:auto;
	overflow: hidden;
}



.Container {
	margin: 0 auto;
	padding: 0 1.5rem;
	width: 100%;
	max-width: 96rem
}



.Container--mobile {
	padding: 0 3rem
}



.Container--xs {
	max-width: 55rem
}

.Container--sm,.Container--smGrow {
	max-width: 72rem
}


.Container--lg {
	max-width: 112rem
}

.Container--full {
	max-width: 100%
}

.Container--center {
	text-align: center
}





.TabNav {
	--theme-color: #d2372b;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: .8rem 0 0;
	display: inline-block;
}

@media (min-width:760px) {
	.TabNav {
		max-width: 100%;
		display: none;
	}
}

.TabNav--theme-orange {
	--theme-color: #ff9b6a
}

.TabNav--theme-purple {
	--theme-color: #d2372b
}

.TabNav-tab {
	position: relative;
	margin-right: 1.5rem;
	padding: 1.5rem 0;
	font-size: 1.4rem;
	font-weight: 500;
	color: #9c9c9b;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer
}

@media (min-width:480px) {
	.TabNav-tab {
		font-size: 1.6rem;
		margin-right: 2.4rem;
		padding: 2.4rem 0
	}
}

@media (min-width:760px) {
	.TabNav-tab {
		margin-right: 3.2rem;
		font-size: 2rem
	}
}

@media (min-width:960px) {
	.TabNav-tab {
		font-size: 2.4rem
	}
}

.TabNav-tab--active {
	color: #2a2825
}

.TabNav-tab--active:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: .2rem;
	background-color: var(--theme-color);
	content: ""
}


.Pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

@media (min-width:760px) {
	.Pagination {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}
}

.Pagination-button,.Pagination-page {
	border-radius: .3rem;
	font-weight: 500;
	cursor: pointer;
	outline: none
}

.Pagination-button {
	padding-top: .8rem;
	padding-bottom: .8rem;
	font-size: 2rem;
	color: #0b0b0b;
	-webkit-transition: color .25s;
	transition: color .25s
}

@media (min-width:760px) {
	.Pagination-button {
		padding-left: 2.4rem;
		padding-right: 0
	}
}

.Pagination-button:hover {
	color: #e96bd4
}

.Pagination-button--disabled {
	color: #9c9c9b;
	pointer-events: none
}

.Pagination-page {
	margin-right: .4rem;
	padding: .8rem 1.5rem;
	font-size: 1.76rem;
	color: #2a2825;
	-webkit-transition: background-color .25s;
	transition: background-color .25s
}

@media (min-width:760px) {
	.Pagination-page {
		margin-right: .8rem
	}
}

.Pagination-page:hover {
	background-color: #fff
}

.Pagination-page--active,.Pagination-page--active:hover {
	background-color: #d2372b;
	color: #fff
}

.KittiesGalleryPagination {
	padding: 2.4rem;
	max-width: 112rem;
	margin: 0 auto
}

@media (min-width:760px) {
	.KittiesGalleryPagination {
		padding-left: 3.2rem;
		padding-right: 3.2rem
	}
}



body {
	margin: 0
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace,monospace;
	font-size: 1em
}

a {
	background-color: transparent
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,strong {
	font-weight: bolder
}

code,kbd,samp {
	font-family: monospace,monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

img {
	border-style: none
}

button,input,optgroup,select,textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,input {
	overflow: visible
}

button,select {
	text-transform: none
}[type=button],[type=reset],[type=submit],button {
	-webkit-appearance: button
}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
	border-style: none;
	padding: 0
}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	vertical-align: baseline
}

textarea {
	overflow: auto
}[type=checkbox],[type=radio] {
	box-sizing: border-box;
	padding: 0
}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height: auto
}[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details {
	display: block
}

summary {
	display: list-item
}[hidden],template {
	display: none
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent
}

html {
	font-size: 10px
}

body {
	background-color: #fff;
	font-family: Calibre,Helvetica,Arial,sans-serif;
	font-size: 2rem;
	line-height: 1.5
}

a,body {
	color: #2a2825
}

a ,a:hover {
	text-decoration: none
}

a:hover {
	color: #2a2825
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	color: #2a2825;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: -.23px
}

h3 {
	font-size: 1.6rem
}

p {
	margin-top: 0;
	color: #82817d;
	line-height: 1.5
}

p strong {
	color: #2a2825;
	font-weight: 500
}

ul {
	color: #82817d
}

button,input,textarea {
	background: none;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: normal;
	border: 0;
	border-radius: 0;
	-moz-appearance: none;
	appearance: none
}

button,input,select,textarea {
	font-family: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none
}

select {
	position: relative;
	padding: .8rem;
	padding-right: 2.4rem;
	font-size: 1.6rem;
	line-height: unset;
	color: #82817d;
	background-color: transparent;
	border: 0;
	outline: none
}

input[type=radio] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
	appearance: radio
}

input[type=checkbox] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox
}

input {
	border: 1px solid #e7e6e4;
	padding: 1.5rem;
	font-family: Calibre;
	font-size: 1.6rem;
	font-weight: 500;
	border-radius: .5rem;
	outline: none
}

input:focus {
	border-color: #ff9b6a
}

input.is-invalid {
	border-color: #f39db4
}

button {
	cursor: pointer
}


.tac{
	text-align: center !important;
	display: flex;
    justify-content: center;
    align-items: center;
}
.tac p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #525252;
    margin-top: 15px;
}

#TabNav{
	display: none;
}


.userMsg{font-size: 15px;display: none;}
.flex{display: flex;justify-content: center;align-items: center;}

#userMsg{
	height: 100px;
	font-size: 25px;
	font-family: "Microsoft YaHei", SimHei, Helvetica, Arial, SimSun;
	/*height: 4.882812499999999rem;
	font-size: 1.2207031249999998rem;*/
}
.phoneShow{display: none;}
.sexShow{display: none;position: absolute;top: 2.4rem; right: 0;background: rgba(255,255,255,0.5);width: 50px;height: 50px;text-align: center;line-height: 50px;border-radius: 50%;}




.clear{
	height:auto;
	overflow: hidden;
}






table{
	border-spacing: 0;border-collapse: collapse;border: 1px solid #eee;
	width:100%;margin:0 auto;
}

table td{
	padding:10px;
	color: #2a2825;
	font-size: 20px;
	border-color: #eee;
	text-align: center;
}
@media (min-width: 760px){

.TabNav {
    display: block;
}

}

.MyEOSMoneySend{
	padding:10px 20px;
	cursor: pointer;
}

.MyEOSMoneySend.active{
	background: #d2372b;color: #fff;
}